{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}


<div class="card mt-4">
  <div class="card-header bg-white border-0 fw-bold d-flex justify-content-between">
    <p>Create a new certificate</p>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <div class="card-body">
    {{template "common/alert.html" .}}
    <form role="form" action="{{urlfor "CertificatesController.Post"}}" method="post">
      <div class="box-body">
        <div class="form-group {{if field_error_exist .validation "Name" }}has-error{{end}}">
          <label for="name" class="fw-bold">Name</label>
          <input type="text" class="form-control" id="Name" name="Name">
        </div>
        <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
      </div>
      <!-- /.box-body -->
    </form>
  </div>
</div>


<div class="card mt-4">
  <div class="card-header bg-white border-0 fw-bold d-flex justify-content-between">
    <p>Connected clients</p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <tr class="border-bottom">
            <th class="border-0">Name</th>
            <th class="border-0">State</th>
            <th class="border-0">Expiration</th>
            <th class="border-0">Revocation</th>
            <th class="border-0">Serial</th>
            <th class="border-0">Details</th>
            <th class="border-0"></th>
          </tr>
        </thead>
        <tbody class="border-0">

          {{range .certificates}}
          {{ if ne .Details.Name "server"}}
          <tr>
            <td>
              <a href="{{urlfor "CertificatesController.Download" ":key" .Details.Name}}">
                {{ .Details.Name }}
              </a>
            </td>
            <td>{{ .EntryType }}</td>
            <td>{{ dateformat .ExpirationT "2006-01-02 15:04"}}</td>
            {{if eq .Revocation ""}}
            <td></td>
            {{else}}
            <td>{{ dateformat .RevocationT "2006-01-02 15:04"}}</td>
            {{end}}
            <td>{{ .Serial }}</td>
            <td>
              <span class="badge bg-warning text-dark">Country: {{ .Details.Country }}</span>
              <span class="badge bg-warning text-dark">CN: {{ .Details.CN }}</span>
              <span class="badge bg-warning text-dark">Email: {{ .Details.Email }}</span>
            </td>
          </tr>
          {{ end }}
          {{end}}
        </tbody>
      </table>
      <!-- /.table-responsive -->
    </div>
  </div>


  {{end}}