<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="/static/css/vendor/fontawesome/css/all.min.css"> -->

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/static/css/common/style.css">
  <link rel="stylesheet" href="/static/css/auth/style.css">


</head>


<div class="container-fluid">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 bg-white custom-login-container shadow-lg d-flex align-items-center">
      <div class="container ml-4">
        <h2 class="display-4 fw-bold">OpenVPN Admin</h2>
        <p class="mb-4">Sign in to start your session</p>
        <form class="w-75" action="{{urlfor "LoginController.Login"}}" method="post">

          <div class="d-grid gap-2 col-12 mx-auto mt-4">
            <div class="form-group has-feedback">
              <div class="form-floating">
                <input type="text" class="form-control" id="login" name="login" placeholder="Login">
                <label for="login">Login</label>
              </div>
              <!-- <input type="text" class="form-control" name="login" placeholder="Login"> -->
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
              <!-- <input type="password" class="form-control" name="password" placeholder="Password"> -->
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            {{ .xsrfdata }}
              <button type="submit" class="btn btn-primary  fw-bold custom-login-button">Sign In</button>
          </div>
          {{template "common/alert.html" .}}
          </form>
      </div>
    </div>
  </div>
</div>

<!-- jQuery 2.2.3 -->
<script src="static/js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="static/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="static/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
    $("input:text:visible:first").focus();
  });
</script>
</body>
</html>
