{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN</title>
{{end}}

{{define "body"}}
<h2>Edit settings</h2>
<hr>
{{template "common/alert.html" .}}
<form role="form" action="{{urlfor "ProfileController.Post"}}" class="col-8" method="post">
  <div>
    <div class="form-group">
      <label for="name" class="fw-bold">Login</label>
      <input type="text" class="form-control" id="login" name="Login" disabled value="{{ .profile.Login }}">
    </div>

    <div class="form-group {{if field_error_exist .validation "Name" }}has-error{{end}}">
      <label for="name" class="fw-bold">Name</label>
      <input type="text" class="form-control" id="name" name="Name" placeholder="Enter name"
        value="{{ .profile.Name }}">
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
    </div>

    <div class="form-group {{if field_error_exist .validation "Email" }}has-error{{end}}">
      <label for="name" class="fw-bold">Email address</label>
      <input type="text" class="form-control" id="email" name="Email" placeholder="Enter email"
        value="{{ .profile.Email }}">
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Email" }}</span>
    </div>

    <div class="form-group {{if field_error_exist .validation "Password" }}has-error{{end}}">
      <label for="name" class="fw-bold">Password</label>
      <input type="password" class="form-control" id="password" name="Password" placeholder="Password"
        value="{{ .profile.Email }}">
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Password" }}</span>
    </div>

    <div class="form-group {{if field_error_exist .validation "Repassword" }}has-error{{end}}">
      <label for="name" class="fw-bold">Repeat password</label>
      <input type="password" class="form-control" id="Repassword" name="Repassword" placeholder="Repeat password"
        value="{{ .profile.Email }}">
      <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Repassword" }}</span>
    </div>
    {{ .xsrfdata }}
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{{end}}