{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}
<h2>Edit settings</h2>
<hr>
<form role="form" action="{{urlfor "SettingsController.Login"}}" class="col-8" method="post">
  <div>
    <div class="form-group">
      <label for="name" class="fw-bold">Profile</label>
      <input type="text" class="form-control" id="Profile" disabled value=" {{ .Settings.Profile }} ">
    </div>

    <div class="form-group">
      <label for="name" class="fw-bold mt-2">Management interface address</label>
      <input type="text" class="form-control" id="MIAddress" name="MIAddress" placeholder="Enter address"
        value="{{ .Settings.MIAddress }}">
    </div>

    <div class="form-group">
      <label for="name" class="fw-bold mt-2">Management interface network</label>
      <input type="text" class="form-control" id="MINetwork" name="MINetwork" placeholder="Enter network name"
        value="{{ .Settings.MINetwork }}">
    </div>

    <div class="form-group">
      <label for="name" class="fw-bold mt-2">Server Address (external)</label>
      <input type="text" class="form-control" id="ServerAddress" name="ServerAddress" placeholder="Enter server address"
        value="{{ .Settings.ServerAddress }}">
    </div>

    <div class="form-group">
      <label for="name" class="fw-bold mt-2">ConfigPath</label>
      <input type="text" class="form-control" id="OVConfigPath" name="OVConfigPath" placeholder="Enter config path"
        value="{{ .Settings.OVConfigPath }}">
    </div>

    {{ .xsrfdata }}
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">Save and apply</button>
  </div>
  <!-- /.box-body -->
</form>


<!-- /.box -->
{{end}}